#!/bin/sh

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlparse = "*"
typer = "*"
pydantic = "*"
pydantic-settings = "*"

[dev-packages]
typer = "*"

[requires]
python_version = "3"
